<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
  <style>
    .prd_srv>ul{
      list-style: disc;
    }
  </style>
</head>
<body>
    <div class="footer" id="about_area">
        <div class="footer_info">
          <b><p id="c_name" style="font-size:28px">UPCLICK LABS</p></b><br>
          <div class="items">
            <div class="prd_srv" >
              <div>
              <p style="font-size:3vh;">Prouducts And Services:</p>
              <ul style="list-style:disc;">
                <li><a href="#"id="listline">
                  Eduol (App)</a>
                </li>
                <li><a href="#"id="listline">
                  Invest in StartUps.</a>
                </li>
                <li><a href="#"id="listline">
                  Teaching with multimedia learning content.</a>
                </li>
                <li><a href="#"id="listline">
                  Online Study material for class 8-10,class 11-12 , JEE,NEET,Engineering and Medical.</a>
                </li>
                <li><a href="#"id="listline">
                  Online Platform for Buying and selling Notes.</a>
                </li>
              </ul>
            </div>
              </div>
              <div>
               <p style="font-size:3vh;">Our Initiative:</p>
                <ul>
                <li>  <a href="#"id="listline"> 
                  FAQ's</a>
                </li>
                <li>  <a href="#"id="listline"> 
                  StartUp stories.</a>
                </li>
                <li>  <a href="#"id="listline"> 
                  Blogs</a>
                </li> 
              </ul>
              </div>
            <!-- <div>
              <p style="font-size:3vh;">Quick Links</p>
            </div> -->
            <div id="sss">
              <p style="font-size:3vh;">Contact Us:</p><br>
              <a  id="s" about="blank" href="www.education4ol.com" class="fas fa-envelope"></a>
              <p ><a href="#" id="ss">www.education4ol.com</a></p>
              <div class="icons">
                <a href="#" class="fa fa-times-circle" style="font-size: 26px;color:blue; " ></a>
                <a href="#" class="fa fa-instagram" style="font-size:26px;color:pink; "></a>
                <a href="#" class="fa fa-linkedin" style="font-size: 26px;color:white; " ></a>
              </div>
            </div>
            <div id="r">
              <p style="font-size:3vh;">Registered office:</p><br>
              Sky Loft, opposite Golf Course, Shastrinagar, Yerawada, Pune, Maharashtra 411006
            </div>
          </div>
          
        </div>
    
        <div class="disclaimer">
          <p>
            <b>Disclaimer :</b><br><br>
               All trademarks and logos or registered trademarks and logos found on this site or mentioned herein belong to their respective owners and are solely being used for informational purposes. Information provided herein has been gathered from public sources. UPCLICK LABS Pvt Ltd disclaims any and all responsibility in connection with veracity of this data. Information presented on this website is for educational purposes only and should not be treated as legal, financial , or any other form of advice. UPCLICK LABS Pvt Ltd is not liable for financial or any other form of loss incurred by the user or any affiliated party on the basis of information provided herein. UPCLICK LABS Pvt Ltd is neither a stock exchange nor does it intend to get recognized as a stock exchange under the Securities Contracts Regulation Act, 1956.UPCLICK LABS Pvt Ltd has not been authorized by the capital markets regulator to solicit investments. UPCLICK  also provides that it does not facilitate any online or offline buying, selling, or trading of securities.
                   This Site will be updated on a regular basis.
          </p>
          <button id="to_top"><a href="#top_most"> <i class='fas fa-angle-double-up' style="color:rgb(0, 0, 0);font-size: 2vh;"></i></a></button>
        </div>
        
      </div>
        </div>
</body>
</html>