<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >UPCLICK LABS</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <%- include('nav_bar.ejs')%>
<div class="content_body">
</div>
<%- include('footer.ejs')%>  
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script rel="text/javascript" src="main.js"></script>
</body>
</html>